---
openapi: 3.0.0
info:
  title: Unofficial Sitecore CDP/Personalize API
  description: This is the unofficial API definition for Sitecore CDP and Personalize, that I use for reference purposes in the community.
  version: 0.0.1
servers:
  - url: https://api-us.boxever.com
  - url: https://api.boxever.com
tags:
  - name: Batch APIs
  - name: Stream / Real-Time APIs
  - name: Interactive / Rest APIs
  - name: Tenant Management
components:
  securitySchemes:
    oAuthCredentials:
      type: oauth2
      description: ''
      flows:
        clientCredentials:
          tokenUrl: /v2/oauth/token
          scopes: {}
    oAuthPassword:
      type: oauth2
      description: ''
      flows:
        password:
          tokenUrl: /v2/oauth/token 
          scopes: {}    
  schemas:
    Connection:
      type: object
      properties:
        clientKey:
          type: string
          format: string
          example: 'ztcr3udcjdp1nagu1162xan03rntefns'
        href:
          type: string
          format: string
          example: 'http://api-us.boxever.com/v2/connections/33dd8cb7-e32e-4766-c593-cbe400e19d7d'
        ref:
          type: string
          format: uuid
          example: '33dd8cb7-e32e-4766-c593-cbe400e19d7d'
        name:
          type: string
          example: 'arbitrary connection name'
        description:
          type: string
          example: 'Connection description, and what it does'
        modifiedByRef:
          type: string
          format: uuid
    InputMappings:
      type: object
    OutputMappings:
      type: object
    ConnectionReguest:
      type: object
    ConnectionAuth:
      type: object
      properties:
        authType:
          type: string
          example: 'NONE'
paths:
  /v3/templates:
    get:
      tags: ["Tenant Management|Templates"]
      summary: ''
      description: ''
      security:
        - oAuthCredentials: []
        - oAuthPassword: []
      parameters:
        - name: type
          in: query
          description: ''
          required: false
          example: 'WEB'
          schema:
            type: string
            format: string
      responses:
        '200':
          description: ''
        '401':
          description: 'UNAUTHORIZED'
  /v3/flowDefinitions:
    get:
      tags: [ "Tenant Management|Flows" ]
      summary: ''
      description: ''
      security:
        - oAuthCredentials: []
        - oAuthPassword: []
      parameters:
        - name: expand
          in: query
          description: ''
          required: false
          schema:
            type: boolean
            format: boolean
      responses:
        '200':
          description: ''
  /v2/connections:
    get:
      tags: [ "Tenant Management|Connections"]
      summary: 'Retrieve Connections'
      description: ''
      security:
        - oAuthPassword: []
      responses:
        '200':
          description: ''
  /v2/connections/{connectionRef}:
    get:
      tags: [ "Tenant Management|Connections"]
      summary: ''
      description: ''
      security:
        - oAuthPassword: []
      parameters:
        - name: connectionRef
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ''
    